<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>

<link href="http://cdn.rawgit.com/davidstutz/bootstrap-multiselect/master/dist/css/bootstrap-multiselect.css"
    rel="stylesheet" type="text/css" />
<script src="http://cdn.rawgit.com/davidstutz/bootstrap-multiselect/master/dist/js/bootstrap-multiselect.js"
    type="text/javascript"></script>
<script type="text/javascript">
    $(function () {
        $('#skillsSelect').multiselect({
            includeSelectAllOption: true,
            maxHeight: "400",
        });
        $('#removeSkillsSelect').multiselect({
          includeSelectAllOption: true,
          maxHeight: "400",
        });
    });
</script>

<%= render 'home/navbar' %>

<h1 style="text-align: center; padding-top: 30px; padding-bottom: 30px;"><b><u>Update of: <%= @offer.title %></u></b></h1>

<div class="col-lg-3">
  <label><b>You can't change the title</b></label>
  <input id="title" class="form-control" type="text" placeholder="Title" disabled value="<%= @offer.title %>">
  <br />
  <label><b>Update the description</b></label>
  <input id="description" class="form-control" type="text" placeholder="Description" value="<%= @offer.description %>">
  <br />
  <label><b>Add skills</b></label>
  <select id="skillsSelect" class="selectpicker show-menu-arrow form-control" multiple>
    <% @availableSkills.each do |skillName|%>
      <option><%= skillName %></option>
    <% end %>
  </select>
  <br />
  <label><b>Remove skills</b></label>
  <select id="removeSkillsSelect" class="selectpicker show-menu-arrow form-control" multiple>
    <% @notAvailableSkills.each do |elt|%>
      <option><%= elt %></option>
    <% end %>
  </select>
  <br />
  <div style="text-align: center; margin-top: 15px;">
    <input  id="submitBtn" type="button" class="btn btn-success" value="Update Offer">
  </div>
</div>

<style>
  .dropdown-menu {
    min-width: 200px;
  }
</style>

<script type="text/javascript">
  $(document).ready(function() {
    $('#submitBtn').click(function(evt) {
      var $self = $(this);
      var brands = $('#skillsSelect option:selected');
      var selected = [];
      var id = <%= params[:id] %>
      $(brands).each(function(index, brand){
          selected.push($(this).val());
      });
      var tab = $('#removeSkillsSelect option:selected');
      var removeSelected = [];
      $(tab).each(function(index, tmp){
        removeSelected.push($(this).val());
      });
      $.post('/enterprise/update/', {
        id: id,
        title: document.getElementById("title").value,
        description: document.getElementById("description").value,
        skills: selected,
        removeSkills: removeSelected
      },function(response) {
        window.location.href="/enterprise/" + id;
      });
    });
  });
</script>
