<%= render 'home/navbar' %>

<h1 style="text-align: center; padding-top: 30px; padding-bottom: 30px;"><b><u>Offers</u></b></h1>
<table class="table">
  <thead>
    <tr bgcolor="#D3D3D3" style="text-align: center;">
      <th scope="col">Enterprise</th>
      <th scope="col">Offer</th>
      <th scope="col">Percentage of match</th>
      <th scope="col">Detail</th>
    </tr>
  </thead>
  <tbody>
    <% if @user.isPremium %>
      <% for i in (0..@offers.size-1) %>
        <tr style="text-align: center;">
          <td><%= Enterprise.find(User.find(@offers[i].recruiter_id).enterprise_id).name %></td>
          <td><%= @offers[i].title %></td>
          <td><%= @percentages[i] %></td>
          <td><a style="color: #FFFFFF;" href="/offers/<%= @offers[i].id %>"><button type="button" class="btn btn-success">See the offer</button></a></td>
        </tr>
      <% end %>
    <% else %>
      <% @offers.each do |offer| %>
          <tr style="text-align: center;">
            <td><%= Enterprise.find(User.find(offer.recruiter_id).enterprise_id).name %></td>
            <td><%= offer.title %></td>
            <td>Be premium for that !</td>
            <td><button type="button" class="btn btn-success"><a style="color: #FFFFFF;" href="/offers/<%= offer.id %>">See the offer</a></button></td>
          </tr>
        <% end %>
    <% end %>
  </tbody>
</table>
