<%= render 'home/navbar' %>


<h1><%= @offer.title %>
<% if @user.isPremium %>
  : <%= @percentage %>%</h1>
<% end %>

<h4>Description:</h4>
<h6><%= @offer.description %></h6>
<h4>Skills:</h4>
<p><% SkillOffer.where(offer_id: @offer.id).each do |skillOffer| %>
  <a href="#" class="badge badge-dark badge-pill"><%= (Skill.find(skillOffer.skill_id)).name %></a>
<% end %>

<% if (@haveApplied) %>
  <%= form_tag "/offers/#{@offer.id}", method:"post" do %>
    <p><input type="submit" value="Unsuscribe" /></p>
  <% end %>
<% else %>
  <%= form_tag "/offers/#{@offer.id}", method:"patch" do %>
    <p><input type="submit" value="Apply" /></p>
  <% end %>
<% end %>
